certifi==2025.4.26
cffi==1.14.6
charset-normalizer==3.4.1
colorama==0.4.6
gitdb==4.0.12
GitPython==3.1.44
greenlet==0.4.13
hpy==0.0.3
hyperon==0.2.4
idna==3.10
readline==6.2.4.1
requests==2.32.3
smmap==5.0.2
tqdm==4.67.1
urllib3==2.2.3
